<template name="layout">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{pathFor 'home'}}">
          <span class="glyphicon glyphicon-home"></span>
        </a></li>
        <li role="presentation"><a href="{{pathFor 'myProfile'}}">My Profile</a></li>
        <li role="presentation"><a href="{{pathFor 'profiles'}}">Profiles</a></li>
        {{> loginButtons}}
      </ul>
      {{>yield}}

    </div>
</nav>
  </template>
